@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all 200ms;
  scroll-padding-top: 64px;
}

body {
  @apply bg-dark-900 font-poppins overflow-x-hidden pt-16;
}

.btn {
  @apply px-4 py-2  focus:outline-none transition-all duration-200 transform uppercase tracking-wide;
}

.btn-default {
  @apply bg-brand-default  hover:bg-brand-dark;
}

.section-heading {
  @apply text-3xl font-bold text-brand-default uppercase -tracking-tight font-bruno;
}
